<!DOCTYPE html>
<html lang="en">

<head>

    {% include 'TracodaPlantillaBundle::Tracoda/meta.html.twig' %}

    {# Bloque de herencia para el contenido titulo #}
    <title>{% block titulo %}Ample Admin Template - The Ultimate Multipurpose admin template{% endblock %}</title>
    {# Fin bloque de herencia para el contenido titulo #}
    <!-- Bootstrap Core CSS -->

    {# Bloque de herencia para los archivos CSS #}
    {% block head_css %}
    {% include 'TracodaPlantillaBundle::Tracoda/head_css.html.twig' %}
    {% endblock %}
    {# Fin bloque de herencia para los archivos CSS #}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->



    {% block pre %}
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    {% endblock %}



      <div id="wrapper">

{% block menuadmin %}
{% endblock %}
{% block menuuser %}
{% endblock %}
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
        style="background-repeat: no-repeat; text-align:center; background-color:#000e38;
        background-image:url('{{ asset('horizont/') }}plugins/images/tracoda_back.png'); height: 315px; background-position: center;">
&nbsp;
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        {# Bloque de herencia para barra navegacion #}
        {% block navegacion %}
        {#{% include 'TracodaPlantillaBundle::Tracoda/nav.html.twig' %}#}
        {% endblock %}
        {# Fin bloque de herencia para barra navegacion #}
      </div>

        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->

        {# Bloque de herencia para barra navegacion izquierda #}
        {% block barra_izquierda %}
        {#{% include 'TracodaPlantillaBundle::Tracoda/left_sidebar.html.twig' %}#}
        {% endblock %}
        {# Fin bloque de herencia para barra navegacion izquierda #}



            {# Bloque de herencia para contenido de la pagina #}
            {% block contenido %}

            {% endblock %}
            {# Fin bloque de herencia para contenido de la pagina #}
    </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    <div class="text-center" style="background-color:#000e38; color: white; font-size: 12px; padding: 10px;">
        {# Bloque de herencia para pie de pagina #}
    {% block footer %}
    {% include 'TracodaPlantillaBundle::Tracoda/footer.html.twig' %}
    {% endblock %}
    {# Fin Bloque de herencia para pie de pagina #}
    </div>
    <!-- /#wrapper -->
    <!-- /.container-fluid -->

    {# Bloque de herencia para archivos javascript #}
    {% block footer_js %}
    {% include 'TracodaPlantillaBundle::Tracoda/footer_js.html.twig' %}
    {% endblock %}
    {# Fin Bloque de herencia para archivos javascript #}

</body>

</html>
