{% extends 'base.html.twig' %}
{% block titulo %}
TRACODA-Panel de Administración
{% endblock %}

{% block menuadmin %}
    {% include 'TracodaPlantillaBundle::Administracion/menusuperior.html.twig' %}
{% endblock %}

{% block contenido %}
	<section>
		<div class="sttabs tabs-style-iconbox">
			<nav>
				<ul>
					{% if is_granted('ROLE_ADMIN') %}
						<li><a href="{{ path('categorias_index') }}" class="sticon ti-layout-tab"><span>Categorías</span></a></li>
					{% endif %}
					<li><a href="{{ path('admin_dataset_index') }}" class="sticon ti-comment-alt"><span>Datasets</span></a></li>
					<li><a href="{{ path('admin_documentos_index') }}" class="sticon ti-upload"><span>Subida de archivos</span></a></li>
					{% if is_granted('ROLE_ADMIN') %}
					<li><a href="{{ path('admin_licencias_index') }}" class="sticon ti-shield"><span>Licencias</span></a></li>
					<li><a href="{{ path('admin_usuarios_index') }}" class="sticon ti-user"><span>Usuarios</span></a></li>
					<li><a href="{{ path('admin_paginas_index') }}" class="sticon ti-layout"><span>Contenido de páginas</span>
					</a></li>
					{% endif %}
				</ul>
			</nav>
		</div>
	</section>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="white-box">
        <h3 class="box-title m-b-0">Panel de administración</h3>
        <p class="text-muted m-b-30 font-13"> Estadistísticas del sitio. </p>
        <h2 class="text-center">Top 5 documentos descargados</h2>
        <br>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Titulo del documento</th>
              <th scope="col">Cantidad de descargas</th>
            </tr>
          </thead>
          <tbody>
            {% for topElement in topDescargas %}
            <tr>
              <th scope="row">{{topElement.tituloDocumento}}</th>
              <th scope="row">{{topElement.numDescargas}}</th>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <h2 class="text-center">Top 5 documentos visitados</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Titulo del documento</th>
              <th scope="col">Cantidad de visitas</th>
            </tr>
          </thead>
          <tbody>
            {% for topElement in topVisitas %}
            <tr>
              <th scope="row">{{topElement.tituloDocumento}}</th>
              <th scope="row">{{topElement.numVisitas}}</th>
            </tr>
            {% endfor %}
          </tbody>
        </table>
          </div>
    </div>
  </div>
</div>
{% endblock %}
