{% extends 'base.html.twig' %}
{% block titulo %}TRACODA-Carga de documentos {% endblock %}
{% block head_css %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('horizont/') }}plugins/bower_components/dropify/dist/css/dropify.min.css">
{% endblock %}
{# El formulario se encuentra en la direccion fisica
   src/Tracoda/ModeloBundle/Form/DocumentoType;
 #}

{% block menuadmin %}
    {% include 'TracodaPlantillaBundle::Administracion/menusuperior.html.twig' %}
{% endblock %}

{% block contenido %}
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-top:15%">
			<div class="white-box">
				<h3 class="box-title m-b-0">Subida de documentos</h3>
				<p class="text-muted m-b-30 font-13"> Por favor completa la informacion requerida </p>
				<div class="form-horizontal">
					{{ form_start(form) }}
					{{ form_errors(form) }}
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-3 control-label">Titulo</label>
						<div class="col-sm-9">
							{{ form_widget(form.tituloDocumento, { 'attr': {'class': 'form-control'} }) }}
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-3 control-label">Fuente</label>
						<div class="col-sm-9">
							{{ form_widget(form.fuente, { 'attr': {'class': 'form-control'} }) }}
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-3 control-label">Licenciamiento</label>
						<div class="col-sm-9">
							{{ form_widget(form.licenciamiento, { 'attr': {'class': 'form-control'} } ) }}
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword3" class="col-sm-3 control-label">Categoria</label>
							<div class="col-sm-9">
								{{ form_widget(form.categoriaDocumento, { 'attr': {'class': 'form-control'} }) }}
							</div>
					</div>


				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-top:15%">
        <div class="white-box">
            <h3 class="box-title">Documento</h3>
                <label for="input-file-now">Arrastre y suelte el archivo a subir</label>
                    {{ form_widget(form.documento) }}
        </div>
        <div class="form-group m-b-0">
			<div class="col-sm-offset-3 col-sm-9">
				{{ form_widget(form.save, { 'attr': {'class': 'btn btn-info waves-effect waves-light m-t-10'} }) }}
			</div>
		</div>
        {{ form_end(form) }}
    </div>
	{% block footer %}{% endblock %}
{% endblock %}
{% block footer_js %}
	{{ parent() }}
    <script src="{{ asset('horizont/') }}static/js/jasny-bootstrap.js"></script>
    <!-- jQuery file upload -->
    <script src="{{ asset('horizont/') }}plugins/bower_components/dropify/dist/js/dropify.min.js"></script>
    <script>
    $(document).ready(function() {
        // Basic
        $('.dropify').dropify();
        // Translated
        $('.dropify-fr').dropify({
            messages: {
                default: 'Glissez-déposez un fichier ici ou cliquez',
                replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                remove: 'Supprimer',
                error: 'Désolé, le fichier trop volumineux'
            }
        });
        // Used events
        var drEvent = $('#input-file-events').dropify();
        drEvent.on('dropify.beforeClear', function(event, element) {
            return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
        });
        drEvent.on('dropify.afterClear', function(event, element) {
            alert('File deleted');
        });
        drEvent.on('dropify.errors', function(event, element) {
            console.log('Has Errors');
        });
        var drDestroy = $('#input-file-to-destroy').dropify();
        drDestroy = drDestroy.data('dropify')
        $('#toggleDropify').on('click', function(e) {
            e.preventDefault();
            if (drDestroy.isDropified()) {
                drDestroy.destroy();
            } else {
                drDestroy.init();
            }
        })
    });
    </script>
{% endblock %}
