    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Alternar navegación</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Tracoda</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/admin">Inicio</a></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gestión de documentos <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% if is_granted('ROLE_ADMIN') %}
                  <li><a href="{{ path('categorias_index') }}">Categorías</a></li>
                {% endif %}
                <li><a href="{{ path('admin_dataset_index') }}">Datasets</a></li>
                <li><a href="{{ path('admin_documentos_index') }}">Documentos</a></li>
              </ul>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
              <li><a href="{{ path('admin_usuarios_index') }}">Usuarios</a></li>
              <li><a href="{{ path('admin_licencias_index') }}">Licencias</a></li>
              <li><a href="{{ path('admin_paginas_index') }}">Contenido de páginas</a></li>
              {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Cerrar Sesión</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
