<head>
	<title>Iniciar Sesion</title>
</head>
{% include 'TracodaPlantillaBundle::Tracoda/head_css.html.twig' %}
	<section id="wrapper" class="login-register">
		<div class="login-box login-sidebar">
			<div class="white-box">
				<form class="form-horizontal form-material" id="loginform" action="{{ path('tracoda_seguridad_login_check') }}" method="post" >

					{# Imagen o Logotipo #}
					<a href="javascript:void(0)" class="text-center db">
						<br/>
						<img class="img-thumbnail" src="{{ asset('horizont/') }}plugins/images/tracoda.png" alt="Home" />
					</a>
					{# Fin imagen o Logotipo #}

					{# Mensaje de error en caso de que no exista el usuario o las credenciales sean incorrectas #}
					{% if error %}
						<div class="text-danger" >
							<p>
								<strong>
									{{ error.messageKey }}
								</strong>
							</p>
						</div>
					{% endif %}
					{# Fin Mensaje de error #}

					{# Caja de texto para el username #}
					<div class="form-group m-t-40">
						<div class="col-xs-12">
							<input class="form-control" type="text" id="nombre" name="_nombre" value="{{ last_username }}" required="" placeholder="Username">
						</div>
					</div>
					{# Fin caja de texto para el username #}

					{# Caja de texto para la passwort #}
					<div class="form-group">
						<div class="col-xs-12">
							<input class="form-control" type="password" id="password" name="_password" required="" placeholder="Password">
						</div>
					</div>
					{# Fin caja de texto para la passwort #}

					{# Input que contiene la URL a la que se dirige luego de iniciar sesion #}
					<input type="hidden" name="_target_path" value="tracoda_usuario_homepage" >
					{# Fin input que contiene la URL a la que se dirige luego de iniciar sesion #}

					<div class="form-group">
						<div class="col-md-12">
							<div class="checkbox checkbox-primary pull-left p-t-0">
								<input id="checkbox-signup" type="checkbox">
								<label for="checkbox-signup"> Recuerdame </label>
							</div>
							<a href="javascript:void(0)" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> Olvido su contraseña?</a>
						</div>
					</div>

					{# Boton del formulario #}
					<div class="form-group text-center m-t-20">
						<div class="col-xs-12">
							<button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Iniciar Sesion
							</button>
						</div>
					</div>
					{# Fin boton del formulario #}
				</form>
				<form class="form-horizontal" id="recoverform" action="index.html">
					<div class="form-group ">
						<div class="col-xs-12">
							<h3>Recuperar contraseña</h3>
							<p class="text-muted">Enter your Email and instructions will be sent to you! </p>
						</div>
					</div>
					<div class="form-group ">
						<div class="col-xs-12">
							<input class="form-control" type="text" required="" placeholder="Email">
						</div>
					</div>
					<div class="form-group text-center m-t-20">
						<div class="col-xs-12">
							<button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Reset
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
