{% extends 'base.html.twig' %}

{% block titulo %}TRACODA-Dataset{% endblock %}
{% block head_css %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('horizont/') }}plugins/bower_components/dropify/dist/css/dropify.min.css">
{% endblock %}
{% block menuadmin %}
    {% include 'TracodaPlantillaBundle::Administracion/menusuperior.html.twig' %}
{% endblock %}
{% block contenido %}
<div class="contenedor">
    <h1>Edición de Dataset</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <div>
            <label class="required">
                Autor
            </label>
                <input type="text" readonly="readonly" class="form-control" value="{{dataset.getIdUsuario.getNombre()}}" />
        </div>
<br />
        <div class="form-group">
            <div class="col-md-12 text-center">
                {% if (is_granted('ROLE_ADMIN') == true or app.user.username == dataset.getIdUsuario.getNombre()) %}
                <input type="submit" value="Actualizar" class="btn btn-success" />&nbsp;&nbsp;
                {% endif %}
                <a href="{{ path('admin_dataset_index') }}" class="btn btn-default">Regresar al listado</a>
            </div>
        </div>
    {{ form_end(edit_form) }}
    <br />
{% if (is_granted('ROLE_ADMIN') == true or app.user.username == dataset.getIdUsuario.getNombre()) %}
    <div class="form-group">
        <div class="col-md-12 text-center">
            {{ form_start(delete_form) }}
            <input type="submit" value="Eliminar" class="btn btn-danger" onclick="return confirm('¿Está seguro que desea eliminar el dataset?');">
            {{ form_end(delete_form) }}
        </div>
    </div>
    {% endif %}
        <br />
</div>
{% endblock %}
