{% extends 'base.html.twig' %}

{% block titulo %}TRACODA-Dataset{% endblock %}
{% block head_css %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('horizont/') }}plugins/bower_components/dropify/dist/css/dropify.min.css">
{% endblock %}
{% block menuadmin %}
    {% include 'TracodaPlantillaBundle::Administracion/menusuperior.html.twig' %}
{% endblock %}
{% block contenido %}
    <div class="contenedor">
    <h1>Listado de Datasets</h1>

    <table id="tabla_datasets" class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl table-hover">
        <thead>
            <tr>
                <th>Categoría</th>
                <th>Titulo</th>
                <th>Fecha creación</th>
                <!--<th>Descripción</th>-->
                <th>Fuente</th>
                <th>Visitas</th>
                <th>Publicado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for dataset in datasets %}
            <tr>
                <td>{{ dataset.idCategoria }}</td>
                <td><a href="{{ path('dataset_show', { 'idDataset': dataset.idDataset }) }}">{{ dataset.titulo }}</a></td>
                <td>{% if dataset.fechaSubida %}{{ dataset.fechaSubida|date('Y-m-d H:i:s') }}{% endif %}</td>
                <!--<td>{{ dataset.descripcion }}</td>-->
                <td>{{ dataset.fuenteDatos }}</td>
                <td>{{ dataset.numVisitas }}</td>
                <td>{% if dataset.publicado %}Si{% else %}No{% endif %}</td>
                <td>
                    <a href="{{ path('dataset_show', { 'idDataset': dataset.idDataset }) }}">Ver</a>
                        &nbsp;|&nbsp;
                            <a href="{{ path('dataset_edit', { 'idDataset': dataset.idDataset }) }}">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('dataset_new') }}" class="btn btn-primary">
    Nuevo <span class="glyphicon glyphicon-plus" aria-hidden="true"/>
    </a>
</div>
{% endblock %}
{% block footer_js %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('horizont/') }}plugins/bower_components/datatables/media/css/jquery.dataTables.css"></script>
<script src="{{ asset('horizont/') }}plugins/bower_components/datatables/media/js/jquery.dataTables.js"></script>
<script type="text/javascript">
    $('#tabla_datasets').DataTable({
        "language": {
            "url": "{{ asset('horizont/') }}plugins/bower_components/datatables/Spanish.json"
        }
    } );
</script>
{% endblock %}
