{% extends 'base.html.twig' %}

{% block titulo %}TRACODA-Dataset{% endblock %}
{% block head_css %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('horizont/') }}plugins/bower_components/dropify/dist/css/dropify.min.css">
{% endblock %}
{% block menuadmin %}
    {% include 'TracodaPlantillaBundle::Administracion/menusuperior.html.twig' %}
{% endblock %}
{% block contenido %}
<div class="contenedor">
    <h1>Nuevo Dataset</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <hr />
        <input type="submit" value="Crear" class="btn btn-primary" />
        &nbsp;&nbsp;<a href="{{ path('admin_dataset_index') }}" class="btn btn-default">Regresar a la lista</a>
    {{ form_end(form) }}
</div>
{% endblock %}
