{% extends 'base.html.twig' %}

{% block titulo %}TRACODA-Dataset{% endblock %}
{% block head_css %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('horizont/') }}plugins/bower_components/dropify/dist/css/dropify.min.css">
{% endblock %}
{% block menuadmin %}
    {% include 'TracodaPlantillaBundle::Administracion/menusuperior.html.twig' %}
{% endblock %}
{% block contenido %}
<div class="contenedor">
    <h1>Dataset</h1>

    <table class="table table-responsive table-hover">
        <tbody>
            <tr>
                <th>Título</th>
                <td>{{ dataset.titulo }}</td>
            </tr>
            <tr>
                <th>Fecha creación</th>
                <td>{% if dataset.fechaSubida %}{{ dataset.fechaSubida|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ dataset.descripcion }}</td>
            </tr>
            <tr>
                <th>Fuente de datos</th>
                <td>{{ dataset.fuenteDatos }}</td>
            </tr>
            <tr>
                <th>Visitas</th>
                <td>{{ dataset.numVisitas }}</td>
            </tr>
            <tr>
                <th>Publicado</th>
                <td>{% if dataset.publicado %}Si{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Usuario</th>
                <td>{{ dataset.idUsuario }}</td>
            </tr>
        </tbody>
    </table>

    <div class="form-group">
    <div class="col-md-12 text-center">
        {% if (is_granted('ROLE_ADMIN') == true or app.user.username == dataset.getIdUsuario.getNombre()) %}
            <a href="{{ path('dataset_edit', { 'idDataset': dataset.idDataset }) }}" class="btn btn-success">Editar</a>&nbsp;&nbsp;
        {% endif %}
            <a href="{{ path('admin_dataset_index') }}" class="btn btn-default">Regresar al listado</a>
        </div></div>
<br /><br />
{% if (is_granted('ROLE_ADMIN') == true or app.user.username == dataset.getIdUsuario.getNombre()) %}
        <div class="form-group">
        <div class="col-md-12 text-center">
    {{ form_start(delete_form) }}<input type="submit" value="Eliminar" class="btn btn-danger"
    onclick="return confirm('¿Está seguro que desea eliminar el dataset?');">{{ form_end(delete_form) }}
    </div></div>
{% endif %}
    <br />
</div>
{% endblock %}
