{% extends 'base.html.twig' %}
{% block titulo %}TRACODA-Modificar Pagina{% endblock %}
{% block head_css %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('horizont/') }}plugins/bower_components/dropify/dist/css/dropify.min.css">
{% endblock %}
{% block menuadmin %}
    {% include 'TracodaPlantillaBundle::Administracion/menusuperior.html.twig' %}
{% endblock %}
{% block contenido %}

	<div class="contenedor">
				<h1>Editar Pagina</h1>
				<p class="text-muted m-b-30 font-13"> Por favor completa la informacion requerida. </p>
				<div class="form-horizontal">
					{{ form_start(edit_form, {'attr': {'novalidate': 'novalidate'}}) }}

          <div class="form-group {% if not edit_form.titulo.vars.valid %}has-error{% endif %}">
            <label for="inputEmail3" class="col-sm-3 control-label">Titulo</label>
            <div class="col-sm-6">
              {{ form_widget(edit_form.titulo, { 'attr': {'class': 'form-control'} }) }}
              {{ form_errors(edit_form.titulo) }}
            </div>
          </div>

          <div class="form-group {% if not edit_form.cuerpo.vars.valid %}has-error{% endif %}">
            <label for="inputEmail3" class="col-sm-3 control-label">Cuerpo</label>
            <div class="col-sm-6">
              {{ form_widget(edit_form.cuerpo) }}
              {{ form_errors(edit_form.cuerpo) }}
            </div>
          </div>

          <div class="form-group {% if not edit_form.url.vars.valid %}has-error{% endif %}">
            <label for="inputPassword3" class="col-sm-3 control-label">Url</label>
            <div class="col-sm-6">
              {{ form_widget(edit_form.url, { 'attr': {'class': 'form-control'}  }) }}
              {{ form_errors(edit_form.url) }}
            </div>
          </div>
<hr />
					<div class="form-group">
						<div class="col-md-12 text-center">
							<input type="submit" value="Actualizar" class="btn btn-success" />&nbsp;&nbsp;<a href="{{ path('admin_paginas_index') }}" class="btn btn-default">Regresar al listado</a>
						</div>
					</div>
					{{ form_end(edit_form)}}
			</div>
			<div class="form-group">
					<div class="col-md-12 text-center">
						{{ form_start(delete_form) }}
						<input type="submit" value="Eliminar" class="btn btn-danger" onclick="return confirm('¿Está seguro que desea eliminar la licencia?');">
						{{ form_end(delete_form) }}
					</div>
					<br />
	</div>

  {% block footer_js %}
    {{ parent() }}
  <script src="{{ asset( 'bundles/kmsfroalaeditor/froala_editor_2.7.1/js/froala_editor.min.js' ) }}"></script>
  <script src="{{ asset( 'bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/align.min.js' ) }}"></script>
  <script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/align.min.js' ) }}"></script>
  <script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/char_counter.min.js' ) }}"></script>
  <script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/code_beautifier.min.js' ) }}"></script>
  <script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/code_view.min.js' ) }}"></script>
  <script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/colors.min.js' ) }}"></script>
  <script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/draggable.min.js' ) }}"></script>
  <script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/emoticons.min.js' ) }}"></script>
  <script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/entities.min.js' ) }}"></script>
  <script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/font_family.min.js' ) }}"></script>
  <script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/font_size.min.js' ) }}"></script>
  <script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/fullscreen.min.js' ) }}"></script>
  <script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/help.min.js' ) }}"></script>
  <script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/image.min.js' ) }}"></script>
  <script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/image_manager.min.js' ) }}"></script>
  <script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/inline_style.min.js' ) }}"></script>
  <script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/line_breaker.min.js' ) }}"></script>
  <script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/link.min.js' ) }}"></script>
  <script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/lists.min.js' ) }}"></script>
  <script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/paragraph_format.min.js' ) }}"></script>
  <script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/paragraph_style.min.js' ) }}"></script>
  <script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/quick_insert.min.js' ) }}"></script>
  <script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/quote.min.js' ) }}"></script>
  <script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/save.min.js' ) }}"></script>
  <script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/special_characters.min.js' ) }}"></script>
  <script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/table.min.js' ) }}"></script>
  <script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/url.min.js' ) }}"></script>
  <script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/video.min.js' ) }}"></script>
  <script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/word_paste.min.js' ) }}"></script>
  <script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/third_party/image_aviary.min.js' ) }}"></script>
  <script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/third_party/spell_checker.min.js' ) }}"></script>
  {% endblock %}
{% endblock %}
