{% extends 'base.html.twig' %}
{% block titulo %}TRACODA-Paginas{% endblock %}
{% block head_css %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('horizont/') }}plugins/bower_components/dropify/dist/css/dropify.min.css">
{% endblock %}
{% block menuadmin %}
    {% include 'TracodaPlantillaBundle::Administracion/menusuperior.html.twig' %}
{% endblock %}
{% block contenido %}
    <div class="contenedor">
      <h1>Listado de Paginas</h1>
      <div clas="table-responsive">
      <table id="tabla_usuarios" class="table table-condensed table-striped table-hover">
          <thead>
              <tr>
                  <th>Titulo</th>
                  <th>Url</th>
                  <th>Aciones</th>
              </tr>
          </thead>
          <tbody>
          {% for pagina in paginas %}
              <tr>
                <td>{{pagina.titulo}}</td>
                <td>{{pagina.url}}</td>
                <td>

                            <a href="{{ path('admin_paginas_show', { 'idPagina': pagina.idPagina}) }}">Ver</a>&nbsp;|&nbsp;
                            <a href="{{ path('admin_paginas_edit', { 'idPagina': pagina.idPagina }) }}">Editar</a>
                </td>
              </tr>
          {% endfor %}
          </tbody>
      </table>
      </div>
      <a href="{{ path('admin_paginas_new') }}" class="btn btn-primary">
      Nuevo <span class="glyphicon glyphicon-plus" aria-hidden="true"/>
      </a>
</div>

{% endblock %}
{% block footer_js %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('horizont/') }}plugins/bower_components/datatables/media/css/jquery.dataTables.css"></script>
<script src="{{ asset('horizont/') }}plugins/bower_components/datatables/media/js/jquery.dataTables.js"></script>
<script type="text/javascript">
    $('#tabla_usuarios').DataTable({
        "language": {
            "url": "{{ asset('horizont/') }}plugins/bower_components/datatables/Spanish.json"
        }
    } );
</script>
{% endblock %}
