{% extends 'base.html.twig' %}
{% block titulo %}TRACODA-Detalles de la Pagina{% endblock %}
{% block head_css %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('horizont/') }}plugins/bower_components/dropify/dist/css/dropify.min.css">
{% endblock %}
{% block menuadmin %}
    {% include 'TracodaPlantillaBundle::Administracion/menusuperior.html.twig' %}
{% endblock %}
{% block contenido %}
<div class="contenedor">
      <h1>Detalles de la Pagina</h1>
      <table class="table table-responsive table-hover">
          <tbody>
              <tr>
                  <th>Titulo</th>
                  <td>{{ pagina.titulo}}</td>
              </tr>
              <tr>
                  <th>Url</th>
                  <td>{{pagina.url}}</td>
              </tr>
              <tr>
                  <th>Cuerpo</th>
                  <td><div class="fr-view">{{ pagina.cuerpo | raw }}</div></td>
              </tr>
          </tbody>
      </table>
      <hr />
      <div class="form-group">
          <div class="col-md-12 text-center">
              <a href="{{ path('admin_paginas_edit', { 'idPagina': pagina.idPagina }) }}" class="btn btn-success">Editar</a>&nbsp;&nbsp;
              <a href="{{ path('admin_paginas_index') }}" class="btn btn-default">Regresar al listado</a>
          </div>
    </div>
    <br /><br />
    <div class="form-group">
        <div class="col-md-12 text-center">
        {{ form_start(delete_form) }}<input type="submit" value="Eliminar" class="btn btn-danger" onclick="return confirm('¿Está seguro que desea eliminar la pagina?');">{{ form_end(delete_form) }}
        </div>
  </div>
</div>
{% block footer_js %}
  {{ parent() }}
<script src="{{ asset( 'bundles/kmsfroalaeditor/froala_editor_2.7.1/js/froala_editor.min.js' ) }}"></script>
<script src="{{ asset( 'bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/align.min.js' ) }}"></script>
<script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/align.min.js' ) }}"></script>
<script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/char_counter.min.js' ) }}"></script>
<script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/code_beautifier.min.js' ) }}"></script>
<script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/code_view.min.js' ) }}"></script>
<script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/colors.min.js' ) }}"></script>
<script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/draggable.min.js' ) }}"></script>
<script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/emoticons.min.js' ) }}"></script>
<script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/entities.min.js' ) }}"></script>
<script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/font_family.min.js' ) }}"></script>
<script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/font_size.min.js' ) }}"></script>
<script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/fullscreen.min.js' ) }}"></script>
<script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/help.min.js' ) }}"></script>
<script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/image.min.js' ) }}"></script>
<script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/image_manager.min.js' ) }}"></script>
<script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/inline_style.min.js' ) }}"></script>
<script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/line_breaker.min.js' ) }}"></script>
<script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/link.min.js' ) }}"></script>
<script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/lists.min.js' ) }}"></script>
<script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/paragraph_format.min.js' ) }}"></script>
<script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/paragraph_style.min.js' ) }}"></script>
<script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/quick_insert.min.js' ) }}"></script>
<script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/quote.min.js' ) }}"></script>
<script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/save.min.js' ) }}"></script>
<script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/special_characters.min.js' ) }}"></script>
<script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/table.min.js' ) }}"></script>
<script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/url.min.js' ) }}"></script>
<script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/video.min.js' ) }}"></script>
<script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/plugins/word_paste.min.js' ) }}"></script>
<script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/third_party/image_aviary.min.js' ) }}"></script>
<script  src="{{asset('bundles/kmsfroalaeditor/froala_editor_2.7.1/js/third_party/spell_checker.min.js' ) }}"></script>
{% endblock %}
{% endblock %}
