{% extends 'base.html.twig' %}
{% block head_css %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('horizont/') }}plugins/bower_components/dropify/dist/css/dropify.min.css">
{% endblock %}
{% block menuadmin %}
    {% include 'TracodaPlantillaBundle::Administracion/menusuperior.html.twig' %}
{% endblock %}
{% block contenido %}
<div class="contenedor">
    <h1>Editar Categoría</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
        <hr />
        <div class="form-group">
        <div class="col-md-12 text-center">
        <input type="submit" value="Actualizar" class="btn btn-success" />&nbsp;&nbsp;<a href="{{ path('categorias_index') }}" class="btn btn-default">Regresar al listado</a>
    </div>
    </div>
    {{ form_end(edit_form) }}
    <br /><br />
    <div class="form-group">
        <div class="col-md-12 text-center">
    {{ form_start(delete_form) }}<input type="submit" value="Eliminar" class="btn btn-danger"
    onclick="return confirm('¿Está seguro que desea eliminar la categoría?');">{{ form_end(delete_form) }}
    </div></div>
    <br />
    </div>
{% endblock %}
