{% extends 'base.html.twig' %}
{% block titulo %}TRACODA-Categorías{% endblock %}
{% block head_css %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('horizont/') }}plugins/bower_components/dropify/dist/css/dropify.min.css">
{% endblock %}
{% block menuadmin %}
    {% include 'TracodaPlantillaBundle::Administracion/menusuperior.html.twig' %}
{% endblock %}
{% block contenido %}
<div class="contenedor">
  <div class="col-sm-12 col-xs-12">
    <h1 style="font-size:3.5rem; width: 100%; ">Listado de Categorías</h1>
  </div>
    <table id="tabla_categorias" class="table table-responsive table-condensed table-striped table-hover">
        <thead>
            <tr>
                <th>Categoría</th>
                <th>Imagen</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for catalogoCategoria in catalogoCategorias %}
            <tr>
                <td><a href="{{ path('categorias_show', { 'id': catalogoCategoria.id }) }}">
                {{ catalogoCategoria.nombreCategoria }}</a></td>
                <td>{{ catalogoCategoria.imagenCategoria }}</td>
                <td>
                            <a href="{{ path('categorias_show', { 'id': catalogoCategoria.id }) }}">Ver</a>&nbsp;|&nbsp;
                            <a href="{{ path('categorias_edit', { 'id': catalogoCategoria.id }) }}">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('categorias_new') }}" class="btn btn-primary">
    Nuevo <span class="glyphicon glyphicon-plus" aria-hidden="true"/>
    </a>
    </div>
{% endblock %}
{% block footer_js %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('horizont/') }}plugins/bower_components/datatables/media/css/jquery.dataTables.css"></script>
<script src="{{ asset('horizont/') }}plugins/bower_components/datatables/media/js/jquery.dataTables.js"></script>
<script type="text/javascript">
    $('#tabla_categorias').DataTable({
        "language": {
            "url": "{{ asset('horizont/') }}plugins/bower_components/datatables/Spanish.json"
        }
    } );
</script>
{% endblock %}
