{% extends 'base.html.twig' %}
{% block head_css %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('horizont/') }}plugins/bower_components/dropify/dist/css/dropify.min.css">
{% endblock %}
{% block menuadmin %}
    {% include 'TracodaPlantillaBundle::Administracion/menusuperior.html.twig' %}
{% endblock %}
{% block contenido %}
<div class="contenedor">
    <h1>Categoría</h1>

    <table class="table table-responsive table-hover">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ catalogoCategoria.nombreCategoria }}</td>
            </tr>
            <tr>
                <th>Imágen</th>
                <td>
                    <img src="{{ asset('subidas/') }}categorias/{{ catalogoCategoria.imagenCategoria }}" class="img-responsive" alt="Imágen de la categoría" /></td>
            </tr>
        </tbody>
    </table>
    <div class="form-group">
    <div class="col-md-12 text-center">
        <a href="{{ path('categorias_edit', { 'id': catalogoCategoria.id }) }}" class="btn btn-success">Editar</a>&nbsp;&nbsp;
            <a href="{{ path('categorias_index') }}" class="btn btn-default">Regresar al listado</a>
        </div></div>
<br /><br />
        <div class="form-group">
        <div class="col-md-12 text-center">
    {{ form_start(delete_form) }}<input type="submit" value="Eliminar" class="btn btn-danger"
    onclick="return confirm('¿Está seguro que desea eliminar la categoría?');">{{ form_end(delete_form) }}
    </div></div>
    <br />
        </div>
{% endblock %}
