{% extends 'base.html.twig' %}

{% block titulo %}Documentos {% endblock %}
{% block head_css %}

{%endblock%}

{% block contenido %}
  <div class="row">	
	<div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-12 col-xs-12">
		<form>
  			<div class="form-group">
    			<label for="documento">Escriba el texto del documento</label>
    			<input type="text" class="form-control" id="documento" name="documento" aria-describedby="docHelp" placeholder="Escriba aqui">
    			<small id="docHelp" class="form-text text-muted">Este campo es para filtrar el doc</small>
    		</div>
    	</form>
    </div>
   </div>
{% endblock %}