{% extends 'base.html.twig' %}

{% block body %}
    <h1>Seguridadusuarios list</h1>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Password</th>
                <th>Fechacreacion</th>
                <th>Fechamodificacion</th>
                <th>Salt</th>
                <th>Correo</th>
                <th>Facebook</th>
                <th>Twitter</th>
                <th>Habilitado</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for seguridadUsuario in seguridadUsuarios %}
            <tr>
                <td><a href="{{ path('categorias_show', { 'id': seguridadUsuario.id }) }}">{{ seguridadUsuario.nombre }}</a></td>
                <td>{{ seguridadUsuario.password }}</td>
                <td>{% if seguridadUsuario.fechaCreacion %}{{ seguridadUsuario.fechaCreacion|date('Y-m-d') }}{% endif %}</td>
                <td>{% if seguridadUsuario.fechaModificacion %}{{ seguridadUsuario.fechaModificacion|date('Y-m-d') }}{% endif %}</td>
                <td>{{ seguridadUsuario.salt }}</td>
                <td>{{ seguridadUsuario.correo }}</td>
                <td>{{ seguridadUsuario.facebook }}</td>
                <td>{{ seguridadUsuario.twitter }}</td>
                <td>{% if seguridadUsuario.habilitado %}Yes{% else %}No{% endif %}</td>
                <td>{{ seguridadUsuario.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('categorias_show', { 'id': seguridadUsuario.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('categorias_edit', { 'id': seguridadUsuario.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('categorias_new') }}">Create a new seguridadUsuario</a>
        </li>
    </ul>
{% endblock %}
