{% extends 'base.html.twig' %}

{% block body %}
    <h1>Seguridadusuario</h1>

    <table>
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ seguridadUsuario.nombre }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ seguridadUsuario.password }}</td>
            </tr>
            <tr>
                <th>Fechacreacion</th>
                <td>{% if seguridadUsuario.fechaCreacion %}{{ seguridadUsuario.fechaCreacion|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechamodificacion</th>
                <td>{% if seguridadUsuario.fechaModificacion %}{{ seguridadUsuario.fechaModificacion|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Salt</th>
                <td>{{ seguridadUsuario.salt }}</td>
            </tr>
            <tr>
                <th>Correo</th>
                <td>{{ seguridadUsuario.correo }}</td>
            </tr>
            <tr>
                <th>Facebook</th>
                <td>{{ seguridadUsuario.facebook }}</td>
            </tr>
            <tr>
                <th>Twitter</th>
                <td>{{ seguridadUsuario.twitter }}</td>
            </tr>
            <tr>
                <th>Habilitado</th>
                <td>{% if seguridadUsuario.habilitado %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ seguridadUsuario.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('categorias_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('categorias_edit', { 'id': seguridadUsuario.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
