{% extends 'base.html.twig' %}
{% block titulo %}Documentos {% endblock %}
{% block head_css %}
{{ parent() }}
{#Incluyendo script de recaptcha de google #}
<script src='https://www.google.com/recaptcha/api.js?onload=CaptchaCallback&render=explicit' async defer></script>


<script>
{#  WidId guarda todos los IDs de los captcha para diferenciarlos#}
	var widId = [];
{#Funcion para el captcha. Crea una cantidad dinamica de captchas dependiendo de la cantidad de docs#}
function CaptchaCallback() {

	for(i=1; i<={{documentos | length}}; i++){
	widId[i] = grecaptcha.render('recaptcha'+i, {'sitekey' : '6LfTMzYUAAAAANHt63GJwq_q_jOPXmneSdXDhart'});
	}

    };

    window.onload = CaptchaCallback();

{# varlida el captcha segun el boton que se presione #}
function validarCaptcha(titul, docum, indiceLoop, idDoc){
	var CaptchaValue = grecaptcha.getResponse(widId[indiceLoop]);

	var titulo = titul;
	var documento = docum;

$.ajax({
        type:'POST',
        url: $('#url').text(),
        data: {Captcha : CaptchaValue, titulo :  titul, documento : docum, indice : indiceLoop, idDoc : idDoc},
        success: function(response) {
        $('#docLink'+indiceLoop).html(response);

    }});
    return false;
}
</script>

{% endblock %}
{% block menuuser %}
    {{ render(controller('TracodaCoreBundle:Publico:menu')) }}
{% endblock %}


{% block contenido %}
<div style="width: 80%; margin-right: auto; margin-left:auto; background-color:white; padding: 50px;">
	<h1>Resultado de la buqueda:{{busco}}</h1>

	{% if documentos %}
		<div class="white-box">

		{% for documento in documentos %}
		<table class="table table-hover table-bordered table-condensed table-responsive">
		<tbody>
			<tr>
				<th class="info text-center" colspan="2">
				<h3>Documento: {{ documento.tituloDocumento }}</h3>
				</th>
			</tr>
			<tr>
				<th>Descripción:</th>
				<td>{{documento.descripcionDocumento}}</td>
			</tr>
			<tr>
				<th>Fecha de actualización:</th>
				<td>{% if documento.fechaActualizacion %}{{ documento.fechaActualizacion|date('d-m-Y h:i a') }}{% endif %}</td>
			</tr>
			<tr>
				<th>Fecha de subida:</th>
				<td>{% if documento.fechaSubida %}{{ documento.fechaSubida|date('d-m-Y h:i a') }}{% endif %}</td>
			</tr>
			<tr>
				<th>Cantidad de descargas:</th>
				<td>{{documento.numDescargas}}</td>
			</tr>
      <tr>
				<th>Descarga:</th>
				<td>

				{# Captcha y boton de validacion #}
				<div id="recaptcha{{loop.index}}"></div>
				<button id="btnValidar{{loop.index}}" onclick="validarCaptcha('{{documento.tituloDocumento}}', '{{documento.documento}}', '{{loop.index}}', '{{documento.id}}');">Obtener Enlace</button>
				{# El contenido de este div depende del captcha. Puede contener un error o un enlace #}
				<div id="docLink{{loop.index}}"></div>

				</td>
			</tr>
			</tbody>
		</table>
		<hr />
		{% endfor %}
		</div>
	{% else %}
		<h1 class="text-center">No hay documentos para mostrar en el dataset.</h1>
	{% endif %}
</div>
{% endblock %}
