{% extends 'base.html.twig' %}
{% block titulo %}TRACODA-Contactanos{% endblock %}
{% block head_css %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('horizont/') }}plugins/bower_components/dropify/dist/css/dropify.min.css">
{#Incluyendo script de recaptcha de google#}
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
{% block menuuser %}
    {{ render(controller('TracodaCoreBundle:Publico:menu')) }}
{% endblock %}

{% block contenido %}

{#Muestra mensaje de exito al enviar el email#}
{% for label, flashes in app.session.flashbag.all %}
    {% for flash in flashes %}
        <div class="alert alert-{{ label }}">
            {{ flash }}
        </div>
    {% endfor %}
{% endfor %}

	<div class="row">
		<div class="col-md-12">
			<div class="white-box">
				<h3 class="box-title m-b-0">Contactanos</h3>
				<p class="text-muted m-b-30 font-13"> Por favor completa la informacion requerida. </p>
				<div class="form-horizontal">
					{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
					<div class="form-group {% if not form.nombre.vars.valid %}has-error{% endif %}">
						<label for="inputEmail3" class="col-sm-3 control-label">Nombre</label>
						<div class="col-sm-6">
							{{ form_widget(form.nombre, { 'attr': {'class': 'form-control'} }) }}
							{{ form_errors(form.nombre) }}
						</div>
					</div>
					<div class="form-group {% if not form.email.vars.valid %}has-error{% endif %}">
						<label for="inputEmail3" class="col-sm-3 control-label">Email</label>
						<div class="col-sm-6">
							{{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
							{{ form_errors(form.email) }}
						</div>
					</div>
					<div class="form-group {% if not form.asunto.vars.valid %}has-error{% endif %}">
						<label for="inputEmail3" class="col-sm-3 control-label">Asunto</label>
						<div class="col-sm-6">
							{{ form_widget(form.asunto, { 'attr': {'class': 'form-control'} } ) }}
							{{ form_errors(form.asunto) }}
						</div>
					</div>
					<div class="form-group {% if not form.mensaje.vars.valid %}has-error{% endif %}">
						<label for="inputPassword3" class="col-sm-3 control-label">Mensaje</label>
							<div class="col-sm-6">
								{{ form_widget(form.mensaje, { 'attr': {'class': 'form-control'} }) }}
								{{ form_errors(form.mensaje) }}
							</div>
					</div>

					<div class="form-group m-b-0">
						<div class="col-sm-offset-3 col-sm-6">
                {#Incluyendo cuadro de recaptcha"#}
                <div class="g-recaptcha" data-sitekey="6LfTMzYUAAAAANHt63GJwq_q_jOPXmneSdXDhart"></div>
                {#Incluyendo validación de captcha#}
                {% if not captchaverify %}
                <ul>
                  <li>Verifica que eres humano</li>
                </ul>
                {% endif %}
								{{ form_widget(form.save, { 'attr': {'class': 'btn btn-info waves-effect waves-light m-t-10'} }) }}
						</div>
					</div>

				</div>
			</div>
		</div>
  </div>

        {{ form_end(form) }}
{% endblock %}
