{% extends 'base.html.twig' %}

{% block titulo %}
	TRACODA-Datasets
{% endblock %}
{% block menuuser %}
    {{ render(controller('TracodaCoreBundle:Publico:menu')) }}
{% endblock %}
{% block contenido %}
	{{ parent() }}
	<div style="width: 80%; margin-right: auto; margin-left:auto; background-color:white; padding: 10px 50px;">
	<div class="container-fluid">
		{% for dataset in datasets %}
		<div class="row">
			<div class="col-md-2 col-lg-1 col-xs-2">
			 <img class="img-responsive" src="{{ asset('horizont/') }}plugins/images/dataSetIcon.png" alt="Dataset >{{dataset.titulo}}" />
			</div>
			<div class="col-md-10 col-lg-11 col-xs-10">
				<a href="{{ path('tracoda_publico_dataset', { 'idDataset': dataset.idDataset }) }}">
					<h1>
					{{dataset.titulo}}
					</h1>
				</a>
				<h3>
					<small class="text-muted">
						{{dataset.idCategoria}}
					</small>
				</h3>
				<h4>{{dataset.descripcion}}</h4>
			</div>
		</div>
		{% endfor %}
	</div>
	</div>
{% endblock %}
