<div>
	<a href="{{ asset('subidas/docs/' ~ documento) }}">Documento: {{ titulo }} </a>
	<script type="text/javascript">
		document.getElementById('btnValidar{{ indice }}').disabled = true;
	</script>
</div>
