{% extends 'base.html.twig' %}
{% block titulo %}
	TRACODA-Inicio
{% endblock %}
{% block menuuser %}
    {{ render(controller('TracodaCoreBundle:Publico:menu')) }}
{% endblock %}
{% block contenido %}
	{{ parent() }}
	<div style="width: 80%; margin-right: auto; margin-left:auto; background-color:white; padding: 10px 50px;">
	<div class="container-fluid">
		<div class="row">
			<h3 class="box-title m-b-0">Inicio</h3>
			<p class="text-muted m-b-30 font-13"> Bienvenid@ a TRACODA portal de datos abiertos. </p>
			{% for catalogoCategoria in catalogoCategorias %}
			<div class="col-md-2 text-center">
				<a href="{{ path('tracoda_publico_datasets', { 'id': catalogoCategoria.id }) }}">
					<img src="{{ asset('subidas/') }}categorias/{{ catalogoCategoria.imagenCategoria }}" class="img-responsive" alt="Imágen de la categoria {{catalogoCategoria.nombreCategoria}}" />
					<h4>{{ catalogoCategoria.nombreCategoria }}</h4>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
	</div>
{% endblock %}
