    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Alternar navegación</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{path('tracoda_publico_inicio')}}">Tracoda</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Inicio</a></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categorías <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for catalogoCategoria in catalogoCategorias %}
                <li><a href="{{ path('tracoda_publico_datasets', { 'id': catalogoCategoria.id }) }}">{{catalogoCategoria.nombreCategoria}}</a></li>
                {% endfor %}
              </ul>
            </li>
              <li><a href="{{ path('tracoda_publico_quienes_somos') }}">¿Quiénes somos?</a></li>
              <li><a href="{{ path('tracoda_publico_contactanos') }}">Contáctanos</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              {{ form_start(searchForm,{'attr': {'novalidate': 'novalidate','class':'form-inline my-2 my-lg-0'} } ) }}
              {{ form_widget(searchForm.busco, { 'attr': {'class': 'form-control mr-sm-2'}  }) }}
              {{ form_errors(searchForm.busco) }}
              {{ form_widget(searchForm.buscar, { 'attr': {'class': 'btn btn-outline-success my-2 my-sm-0'}  }) }}
              {{ form_end(searchForm) }}
            </li>
            <li>
              <a href="/admin">Iniciar Sesión</a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
