{% extends 'base.html.twig' %}

{% block titulo %}
	TRACODA-¿Quiénes somos?
{% endblock %}
{% block menuuser %}
    {{ render(controller('TracodaCoreBundle:Publico:menu')) }}
{% endblock %}
{% block contenido %}
	{{ parent() }}
  {% for pagina in paginas %}
	<div style="width: 80%; margin-right: auto; margin-left:auto; background-color:white; padding: 10px 50px;">
	<div class="container-fluid">
		<div class="row">
      <div class="fr-view">
        {{ pagina.cuerpo | raw }}
      </div>
		</div>
	</div>
	</div>
  {% endfor %}

{% endblock %}
