{% extends 'base.html.twig' %}
{% block titulo %}TRACODA-Modificar Usuario{% endblock %}
{% block head_css %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('horizont/') }}plugins/bower_components/dropify/dist/css/dropify.min.css">
{% endblock %}
{% block menuadmin %}
    {% include 'TracodaPlantillaBundle::Administracion/menusuperior.html.twig' %}
{% endblock %}
{% block contenido %}

	<div class="contenedor">
				<h1>Editar Usuario</h1>
				<p class="text-muted m-b-30 font-13"> Por favor completa la informacion requerida. </p>
				<div class="form-horizontal">
					{{ form_start(edit_form, {'attr': {'novalidate': 'novalidate'}}) }}

					<div class="form-group row{% if not edit_form.nombre.vars.valid %}has-error{% endif %}">
						<label for="inputEmail3" class="col-sm-3 control-label">Nombre</label>
						<div class="col-sm-6">
							{{ form_widget(edit_form.nombre, { 'attr': {'class': 'form-control'} }) }}
							{{ form_errors(edit_form.nombre) }}
						</div>
					</div>

					<div class="form-group {% if not edit_form.password.vars.valid %}has-error{% endif %}">
						<label for="inputPassword3" class="col-sm-3 control-label">Contraseña</label>
						<div class="col-sm-6">
							{{ form_widget(edit_form.password, { 'attr': {'class': 'form-control'}  }) }}
							{{ form_errors(edit_form.password) }}
						</div>
					</div>

					<div class="form-group {% if not edit_form.idRol.vars.valid %}has-error{% endif %}">
						<label for="inputPassword3" class="col-sm-3 control-label">Rol</label>
						<div class="col-sm-6">
							{{ form_widget(edit_form.idRol, { 'attr': {'class': 'form-control'}  }) }}
							{{ form_errors(edit_form.idRol) }}
						</div>
					</div>

					<div class="form-group {% if not edit_form.correo.vars.valid %}has-error{% endif %}">
						<label for="inputPassword3" class="col-sm-3 control-label">E-mail</label>
						<div class="col-sm-6">
							{{ form_widget(edit_form.correo, { 'attr': {'class': 'form-control'}  }) }}
							{{ form_errors(edit_form.correo) }}
						</div>
					</div>

					<div class="form-group {% if not edit_form.facebook.vars.valid %}has-error{% endif %}">
						<label for="inputPassword3" class="col-sm-3 control-label">Facebook</label>
						<div class="col-sm-6">
							{{ form_widget(edit_form.facebook, { 'attr': {'class': 'form-control'}  }) }}
							{{ form_errors(edit_form.facebook) }}
						</div>
					</div>

					<div class="form-group {% if not edit_form.twitter.vars.valid %}has-error{% endif %}">
						<label for="inputPassword3" class="col-sm-3 control-label">Twitter</label>
						<div class="col-sm-6">
							{{ form_widget(edit_form.twitter, { 'attr': {'class': 'form-control'}  }) }}
							{{ form_errors(edit_form.twitter) }}
						</div>
					</div>

					<div class="form-check {% if not edit_form.habilitado.vars.valid %}has-error{% endif %}">
						<label for="inputPassword3" class="col-sm-3 control-label">Habilitado</label>
						<div class="col-sm-1">
							{{ form_widget(edit_form.habilitado, { 'attr': {'class': 'form-check-input'}  }) }}
							{{ form_errors(edit_form.habilitado) }}
						</div>
					</div>


					<div class="form-group">
						<div class="col-md-12 text-center">
							<input type="submit" value="Actualizar" class="btn btn-success" />&nbsp;&nbsp;<a href="{{ path('admin_usuarios_index') }}" class="btn btn-default">Regresar al listado</a>
						</div>
					</div>
					{{ form_end(edit_form)}}
			</div>
			<div class="form-group">
					<div class="col-md-12 text-center">
						{{ form_start(delete_form) }}
						<input type="submit" value="Eliminar" class="btn btn-danger" onclick="return confirm('¿Está seguro que desea eliminar la categoría?');">
						{{ form_end(delete_form) }}
					</div>
				</div>
					<br />
			</div>
{% endblock %}
{% block footer %}
{% endblock %}
