{% extends 'base.html.twig' %}
{% block titulo %}TRACODA-Usuarios{% endblock %}
{% block head_css %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('horizont/') }}plugins/bower_components/dropify/dist/css/dropify.min.css">
{% endblock %}
{% block menuadmin %}
    {% include 'TracodaPlantillaBundle::Administracion/menusuperior.html.twig' %}
{% endblock %}
{% block contenido %}
<div class="contenedor">
      <h1>Listado de Usuarios</h1>
      <div clas="table-responsive">
      <table id="tabla_usuarios" class="table table-condensed table-striped table-hover">
          <thead>
              <tr>
                  <th>Nombre</th>
                  <th>Rol</th>
                  <th>Email</th>
                  <th>Facebook</th>
                  <th>Twitter</th>
                  <th>Habilitado</th>
                  <th>Fecha de creación</th>
                  <th>Acciones</th>
              </tr>
          </thead>
          <tbody>
          {% for seguridadUsuario in seguridadUsuarios %}
              <tr>

                <td>{{ seguridadUsuario.nombre }}</td>
                <td>{{ seguridadUsuario.idRol }}</td>
                <td><a href="mailto:{{seguridadUsuario.correo}}">{{seguridadUsuario.correo}}</a></td>
                <td><a href="{{seguridadUsuario.facebook}}">{{seguridadUsuario.facebook}}</a></td>
                <td><a href="mailto:{{seguridadUsuario.twitter}}">{{seguridadUsuario.twitter}}</a></td>
                <td>{% if seguridadUsuario.habilitado =='1' %}Si{% endif %}{% if seguridadUsuario.habilitado =='0' %}No{% endif %}
                </td>
                <td>{% if seguridadUsuario.fechaCreacion %}{{ seguridadUsuario.fechaCreacion|date('d-m-Y') }}{% endif %}</td>
                
                <td>
                            <a href="{{ path('admin_usuarios_show', { 'id': seguridadUsuario.id }) }}">Ver</a>&nbsp;|&nbsp;
                            <a href="{{ path('admin_usuarios_edit', { 'id': seguridadUsuario.id }) }}">Editar</a>

                </td>
              </tr>
          {% endfor %}
          </tbody>
      </table>
      </div>
      <a href="{{ path('admin_usuarios_new') }}" class="btn btn-primary">
      Nuevo <span class="glyphicon glyphicon-plus" aria-hidden="true"/>
      </a>
    </div>

{% endblock %}
{% block footer_js %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('horizont/') }}plugins/bower_components/datatables/media/css/jquery.dataTables.css"></script>
<script src="{{ asset('horizont/') }}plugins/bower_components/datatables/media/js/jquery.dataTables.js"></script>
<script type="text/javascript">
    $('#tabla_usuarios').DataTable({
        "language": {
            "url": "{{ asset('horizont/') }}plugins/bower_components/datatables/Spanish.json"
        }
    } );
</script>
{% endblock %}
