{% extends 'base.html.twig' %}
{% block titulo %}TRACODA-Nuevo usuario{% endblock %}
{% block head_css %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('horizont/') }}plugins/bower_components/dropify/dist/css/dropify.min.css">
{% endblock %}
{% block menuadmin %}
    {% include 'TracodaPlantillaBundle::Administracion/menusuperior.html.twig' %}
{% endblock %}
{% block contenido %}
<div class="contenedor">
				<h1>Nuevo usuario</h1>
				<p class="text-muted m-b-30 font-13"> Por favor completa la informacion requerida. </p>
				<div class="form-horizontal">
					{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

					<div class="form-group {% if not form.nombre.vars.valid %}has-error{% endif %}">
						<label for="inputEmail3" class="col-sm-3 control-label">Nombre</label>
						<div class="col-sm-6">
							{{ form_widget(form.nombre, { 'attr': {'class': 'form-control'} }) }}
							{{ form_errors(form.nombre) }}
						</div>
					</div>

					<div class="form-group {% if not form.password.vars.valid %}has-error{% endif %}">
						<label for="inputEmail3" class="col-sm-3 control-label">Contraseña</label>
						<div class="col-sm-6">
							{{ form_widget(form.password, { 'attr': {'class': 'form-control'}  }) }}
							{{ form_errors(form.password) }}
						</div>
					</div>

					<div class="form-group {% if not form.idRol.vars.valid %}has-error{% endif %}">
						<label for="inputPassword3" class="col-sm-3 control-label">Rol</label>
						<div class="col-sm-6">
							{{ form_widget(form.idRol, { 'attr': {'class': 'form-control'}  }) }}
							{{ form_errors(form.idRol) }}
						</div>
					</div>

					<div class="form-group {% if not form.correo.vars.valid %}has-error{% endif %}">
						<label for="inputPassword3" class="col-sm-3 control-label">E-mail</label>
						<div class="col-sm-6">
							{{ form_widget(form.correo, { 'attr': {'class': 'form-control'}  }) }}
							{{ form_errors(form.correo) }}
						</div>
					</div>

					<div class="form-group {% if not form.facebook.vars.valid %}has-error{% endif %}">
						<label for="inputPassword3" class="col-sm-3 control-label">Facebook</label>
						<div class="col-sm-6">
							{{ form_widget(form.facebook, { 'attr': {'class': 'form-control'}  }) }}
							{{ form_errors(form.facebook) }}
						</div>
					</div>

					<div class="form-group {% if not form.twitter.vars.valid %}has-error{% endif %}">
						<label for="inputPassword3" class="col-sm-3 control-label">Twitter</label>
						<div class="col-sm-6">
							{{ form_widget(form.twitter, { 'attr': {'class': 'form-control'}  }) }}
							{{ form_errors(form.twitter) }}
						</div>
					</div>

					<div class="form-check {% if not form.habilitado.vars.valid %}has-error{% endif %}">
						<label for="inputPassword3" class="col-sm-3 control-label">Habilitado</label>
						<div class="col-sm-1">
							{{ form_widget(form.habilitado, { 'attr': {'class': 'form-check-input'}  }) }}
							{{ form_errors(form.habilitado) }}
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-6">
								<input type="submit" value="Crear" class="btn btn-primary" />&nbsp;&nbsp;
								<a href="{{ path('admin_usuarios_index') }}" class="btn btn-default">Regresar a la lista</a>
						</div>
					</div>
					{{ form_end(form) }}
</div>

{% endblock %}
