{% extends 'base.html.twig' %}
{% block titulo %}TRACODA-Detalles del Usuario{% endblock %}
{% block head_css %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('horizont/') }}plugins/bower_components/dropify/dist/css/dropify.min.css">
{% endblock %}
{% block menuadmin %}
    {% include 'TracodaPlantillaBundle::Administracion/menusuperior.html.twig' %}
{% endblock %}
{% block contenido %}
<div class="contenedor">
      <h1>Detalles del Usuario</h1>
      <table class="table table-responsive table-hover">
          <tbody>
              <tr>
                  <th>Nombre</th>
                  <td>{{ seguridadUsuario.nombre }}</td>
              </tr>
              <tr>
                  <th>Rol</th>
                  <td>{{seguridadUsuario.idRol}}</td>
              </tr>
              <tr>
                  <th>E-mail</th>
                  <td><a href="mailto:{{seguridadUsuario.correo}}">{{seguridadUsuario.correo}}</a></td>
              </tr>
              <tr>
                  <th>Facebook</th>
                  <td><a href="{{seguridadUsuario.facebook}}">{{seguridadUsuario.facebook}}</a></td>
              </tr>
              <tr>
                  <th>Twitter</th>
                  <td><a href="mailto:{{seguridadUsuario.twitter}}">{{seguridadUsuario.twitter}}</a></td>
              </tr>
              <tr>
                  <th>Habilitado</th>
                  <td>
                    {% if seguridadUsuario.habilitado =='1' %}
                     Si
                    {% endif %}
                    {% if seguridadUsuario.habilitado =='0' %}
                     No
                    {% endif %}
                  </td>
              </tr>
              <tr>
                  <th>Fecha de creación</th>
                  <td>{% if seguridadUsuario.fechaCreacion %}{{ seguridadUsuario.fechaCreacion|date('d-m-Y') }}{% endif %}</td>
              </tr>
              <tr>
                  <th>Fecha de modificación</th>
                  <td>{% if seguridadUsuario.fechaModificacion %}{{ seguridadUsuario.fechaModificacion|date('d-mY') }}{% endif %}</td>
              </tr>
          </tbody>
      </table>
      <div class="form-group">
          <div class="col-md-12 text-center">
              <a href="{{ path('admin_usuarios_edit', { 'id': seguridadUsuario.id }) }}" class="btn btn-success">Editar</a>&nbsp;&nbsp;
              <a href="{{ path('admin_usuarios_index') }}" class="btn btn-default">Regresar al listado</a>
          </div>
    </div>
    <br />
    <br />
    <div class="form-group">
        <div class="col-md-12 text-center">
        {{ form_start(delete_form) }}<input type="submit" value="Eliminar" class="btn btn-danger" onclick="return confirm('¿Está seguro que desea eliminar el usuario?');">{{ form_end(delete_form) }}
        </div>
    </div>
</div>
{% endblock %}
