<div class="container-fluid">
    {% block head_dashboard %}
    <div class="row bg-title" style="margin-top:20%">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Bienvenidos a nuestra página</h4> </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="javascript:void(0)">Inicio</a></li>
                <li class="active">Pagina Actual</li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    {% endblock %}
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->



</div>
