<!-- jQuery -->
<script src="{{ asset('horizont/') }}plugins/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{ asset('horizont/') }}static/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Menu Plugin JavaScript -->
<script src="{{ asset('horizont/') }}plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
<!--slimscroll JavaScript -->
<script src="{{ asset('horizont/') }}static/js/jquery.slimscroll.js"></script>
<!--Wave Effects -->
<script src="{{ asset('horizont/') }}static/js/waves.js"></script>
<!-- Custom Theme JavaScript -->
<script src="{{ asset('horizont/') }}static/js/custom.min.js"></script>
<!--Style Switcher -->
<script src="{{ asset('horizont/') }}plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
<!--slimscroll JavaScript -->
<script src="{{ asset('horizont/') }}static/js/jquery.slimscroll.js"></script>
<!--Counter js -->
<script src="{{ asset('horizont/') }}plugins/bower_components/waypoints/lib/jquery.waypoints.js"></script>
<script src="{{ asset('horizont/') }}plugins/bower_components/counterup/jquery.counterup.min.js"></script>
