<link href="{{ asset('horizont/') }}static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- estilos personalizados -->
<link href="{{ asset('horizont/') }}static/bootstrap/dist/css/estilos.css" rel="stylesheet">

<!-- Menu CSS -->
<link href="{{ asset('horizont/') }}plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
<!-- animation CSS -->
<link href="{{ asset('horizont/') }}static/css/animate.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="{{ asset('horizont/') }}static/css/style.css" rel="stylesheet">
<!-- color CSS -->
<link href="{{ asset('horizont/') }}static/css/colors/megna-dark.css" id="theme" rel="stylesheet">
<link href="{{ asset('horizont/') }}static/css/estilos.css" id="theme" rel="stylesheet">
