<div class="navbar-default sidebar" role="navigation" style="margin-top: 15.5%">
    <div class="sidebar-nav">
        <div class="sidebar-head">
            <h3><span class="fa-fw open-close"><i class="ti-menu hidden-xs"></i><i class="ti-close visible-xs"></i></span> <span class="hide-menu">Navigation</span></h3> </div>
        <ul class="nav" id="side-menu">
            <li class="user-pro">
                <a href="javascript:void(0)" class="waves-effect"><img src="../plugins/images/users/varun.jpg" alt="user-img" class="img-circle"> <span class="hide-menu"> Carlos Palomo<span class="fa arrow"></span></span>
                </a>
                <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                    <li><a href="javascript:void(0)"><i class="ti-user"></i> <span class="hide-menu">My Profile</span></a></li>
                    <li><a href="javascript:void(0)"><i class="ti-wallet"></i> <span class="hide-menu">My Balance</span></a></li>
                    <li><a href="javascript:void(0)"><i class="ti-email"></i> <span class="hide-menu">Inbox</span></a></li>
                    <li><a href="javascript:void(0)"><i class="ti-settings"></i> <span class="hide-menu">Account Setting</span></a></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-power-off"></i> <span class="hide-menu">Logout</span></a></li>
                </ul>
            </li>
            <li> <a href="javascript:void(0)" class="waves-effect active"><i class="mdi mdi-home fa-fw" data-icon="v"></i> <span class="hide-menu"> Inicio <span class="fa arrow"></span></a>
            </li>
            <li> <a href="javascript:void(0);" class="waves-effect"><i class=" icon-globe " data-icon="v"></i> <span class="hide-menu"> Servicios Sociales <span class="fa arrow"></span> </span></a>
                <ul class="nav nav-second-level">
                    <li> <a href="products.html"><i class="fa-fw">P</i><span class="hide-menu">Proyecto 1</span></a> </li>
                    <li> <a href="product-orders.html"><i class="fa-fw">PO</i><span class="hide-menu">Proyecto 2</span></a> </li>
                    <li> <a href="product-details.html"><i class="fa-fw">PD</i><span class="hide-menu">Proyecto 3</span></a> </li>
                    <li> <a href="product-edit.html"><i class="fa-fw">PE</i><span class="hide-menu">Proyecto 4</span></a> </li>
                    <li> <a href="product-cart.html"><i class="fa-fw">PC</i><span class="hide-menu">Proyecto 5/span></a> </li>

                </ul>
            </li>
           {#
            <li> <a href="javascript:void(0)" class="waves-effect "><i class="mdi mdi-eye fa-fw" data-icon="v"></i> <span class="hide-menu">Foros<span class="fa arrow"></span><span class="label label-rouded label-warning pull-right">4</span></span></a>
                <ul class="nav nav-second-level two-li">
                    <li><a href="finanzas.html.twig"><i class="ti-layout-width-default fa-fw"></i> <span class="hide-menu">Financireros</span></a></li>
                    <li><a href="javascript:void(0)" class="waves-effect"><i class="ti-alert fa-fw"></i> <span class="hide-menu">Defensoria</span></a></li>
                    <li><a href="blank.html"><i class="ti-info-alt fa-fw"></i> <span class="hide-menu">Boletines</span></a></li>
                    <li><a href="javascript:void(0)" class="waves-effect"><i class="ti-lock fa-fw"></i><span class="hide-menu">Alcaldias</span></a></li>
                </ul>
            </li>
            #}

          {#  {% if catalogoCategorias %}
            <li> <a href="javascript:void(0)" class="waves-effect "><i class="mdi mdi-folder fa-fw" data-icon="v"></i> <span class="hide-menu">Categorías<span class="fa arrow"></span><span class="label label-rouded label-warning pull-right">5</span></span></a>
                <ul class="nav nav-second-level two-li">
                    {% for catalogoCategoria in catalogoCategorias %}
                    <li>
                    <a href="{{ path('show_documentos', { 'id': catalogoCategoria.id }) }}">
                    <span class="hide-menu">{{ catalogoCategoria.nombreCategoria }}</span></a></li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
          #}
            <li class="mega-nav"> <a href="javascript:void(0)" class="waves-effect"><i class="icon-people fa-fw"></i> <span class="hide-menu">Quienes Somos</span></a></li>
            <li class="devider"></li>
            <li> <a href="javascript:void(0)" class="waves-effect"><i class=" icon-rocket "></i> <span class="hide-menu">Contactanos<span class="fa arrow"></span></span></a>
                <ul class="nav nav-second-level two-li">
                    <li><a href="/contacto/opinion"><i class="ti-comments-smiley fa-fw"></i><span class="hide-menu">Envia tu opinión</span></a></li>


                </ul>

        </ul>
    </div>
</div>
