<nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header">
        <div class="top-left-part">
            
        </div>
        <!--Inicia barra de navegación derecha-->
        <ul class="nav navbar-top-links navbar-right pull-right" style="margin-top: -55px">
            <!--
            <li>
                <form role="search" class="app-search hidden-sm hidden-xs m-r-10">
                    <input type="text" placeholder="Buscando..." class="form-control"> <a href=""><i class="fa fa-search"></i></a> </form>
            </li>
        -->
            <li class="dropdown">
                <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="javascript:void(0)"> <img src="../plugins/images/users/varun.jpg" alt="user-img" width="36" class="img-circle"><b class="hidden-xs">Carlos</b><span class="caret"></span> </a>
                <ul class="dropdown-menu dropdown-user animated flipInY">
                    <li>
                        <div class="dw-user-box">
                            <div class="u-img"><img src="../plugins/images/users/varun.jpg" alt="user" /></div>
                            <div class="u-text">
                                <h4>Carlos Palomo</h4>
                                <p class="text-muted">varun@gmail.com</p><a href="profile.html" class="btn btn-rounded btn-danger btn-sm">Ver perfil</a></div>
                        </div>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li><a href="javascript:void(0)"><i class="ti-user"></i> Mi perfil</a></li>
                    <li><a href="javascript:void(0)"><i class="ti-wallet"></i> My Balance</a></li>
                    <li><a href="javascript:void(0)"><i class="ti-email"></i> Inbox</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="javascript:void(0)"><i class="ti-settings"></i> Account Setting</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-power-off"></i> Logout</a></li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!--Termina barra de navegación derecha-->
    </div>

</nav>
