{% extends 'base.html.twig' %}
{% block titulo %}TRACODA-Nuevo documento{% endblock %}
{% block head_css %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('horizont/') }}plugins/bower_components/dropify/dist/css/dropify.min.css">
{% endblock %}
{% block menuadmin %}
    {% include 'TracodaPlantillaBundle::Administracion/menusuperior.html.twig' %}
{% endblock %}
{% block contenido %}
<div class="contenedor">
				<h1>Editar Documento</h1>
				<p class="text-muted m-b-30 font-13"> Por favor completa la informacion requerida. </p>
				<div class="form-horizontal">
					{{ form_start(edit_form, {'attr': {'novalidate': 'novalidate'}}) }}

					<div class="form-group {% if not edit_form.tituloDocumento.vars.valid %}has-error{% endif %}">
						<label for="inputEmail3" class="col-sm-3 control-label">Titulo Documento</label>
						<div class="col-sm-6">
							{{ form_widget(edit_form.tituloDocumento, { 'attr': {'class': 'form-control'} }) }}
							{{ form_errors(edit_form.tituloDocumento) }}
						</div>
					</div>

					<div class="form-group {% if not edit_form.descripcionDocumento.vars.valid %}has-error{% endif %}">
						<label for="inputEmail3" class="col-sm-3 control-label">Descripción</label>
						<div class="col-sm-6">
							{{ form_widget(edit_form.descripcionDocumento, { 'attr': {'class': 'form-control'}  }) }}
							{{ form_errors(edit_form.descripcionDocumento) }}
						</div>
					</div>

					<div class="form-group {% if not edit_form.idDataset.vars.valid %}has-error{% endif %}">
						<label for="inputPassword3" class="col-sm-3 control-label">Dataset</label>
						<div class="col-sm-6">
							{{ form_widget(edit_form.idDataset, { 'attr': {'class': 'form-control'}  }) }}
							{{ form_errors(edit_form.idDataset) }}
						</div>
					</div>

					<div class="form-group {% if not edit_form.documento.vars.valid %}has-error{% endif %}">
						<label for="inputPassword3" class="col-sm-3 control-label">Archivo</label>
						<div class="col-sm-6">

              {% set path = path|replace({'/app':'/web/subidas/docs/'}) %}
							{{ form_widget(edit_form.documento,{value: path ~ edit_form.vars.value.documento}, { 'attr': {'class': 'form-control-file'}}  ) }}
							{{ form_errors(edit_form.documento) }}
						</div>
					</div>

					</div>
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-6">
						{% if (is_granted('ROLE_ADMIN') == true or app.user.username == documento.getIdUsuario.getNombre()) %}
								<input type="submit" value="Actualizar" class="btn btn-primary" />&nbsp;&nbsp;
						{% endif %}
								<a href="{{ path('admin_documentos_index') }}" class="btn btn-default">Regresar a la lista</a>
						</div>
					</div>
					{{ form_end(edit_form) }}
</div>

{% endblock %}
