{% extends 'base.html.twig' %}
{% block titulo %}TRACODA-Documento{% endblock %}
{% block head_css %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('horizont/') }}plugins/bower_components/dropify/dist/css/dropify.min.css">
{% endblock %}
{% block menuadmin %}
    {% include 'TracodaPlantillaBundle::Administracion/menusuperior.html.twig' %}
{% endblock %}
{% block contenido %}
<div class="contenedor">
    <h1>Listado de Documentos</h1>

    <table id="tabla_documentos" class="table table-responsive table-condensed table-striped table-hover">
        <thead>
            <tr>
                <th>Dataset</th>
                <th>Título</th>
                <th>Fecha de Subida</th>
                <!--<th>Documento</th>-->
                <th>Descargas</th>
                <th>Acciones</th>

            </tr>
        </thead>
        <tbody>
        {% for documento in documentos %}
            <tr>
                <td>{{ documento.idDataset }}</td>
                <td><a href="{{ path('admin_documentos_show', { 'id': documento.id }) }}">{{ documento.tituloDocumento }}</a></td>
                <td>{% if documento.fechaSubida %}{{ documento.fechaSubida|date('d-m-Y h:i a') }}{% endif %}</td>
                <!--<td>{{ documento.documento }}</td>-->
                <td>{{ documento.numDescargas }}</td>
                <td>
                            <a href="{{ path('admin_documentos_show', { 'id': documento.id }) }}">Ver</a>
                        &nbsp;|&nbsp;
                            <a href="{{ path('admin_documentos_edit', { 'id': documento.id }) }}">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_documentos_new') }}" class="btn btn-primary">
    Nuevo <span class="glyphicon glyphicon-plus" aria-hidden="true"/>
    </a>
</div>
{% endblock %}
{% block footer_js %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('horizont/') }}plugins/bower_components/datatables/media/css/jquery.dataTables.css"></script>
<script src="{{ asset('horizont/') }}plugins/bower_components/datatables/media/js/jquery.dataTables.js"></script>
<script type="text/javascript">
    $('#tabla_documentos').DataTable({
        "language": {
            "url": "{{ asset('horizont/') }}plugins/bower_components/datatables/Spanish.json"
        }
    } );
</script>
{% endblock %}
