{% extends 'base.html.twig' %}
{% block titulo %}TRACODA-Detalles del Documento{% endblock %}
{% block head_css %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('horizont/') }}plugins/bower_components/dropify/dist/css/dropify.min.css">
{% endblock %}
{% block menuadmin %}
    {% include 'TracodaPlantillaBundle::Administracion/menusuperior.html.twig' %}
{% endblock %}
{% block contenido %}
<div class="contenedor">
      <h1>Detalles del Documento</h1>
      <table class="table table-responsive table-hover">
          <tbody>
              <tr>
                  <th>Titulo del documento</th>
                  <td>{{ documento.tituloDocumento }}</td>
              </tr>
              <tr>
                  <th>Descripción</th>
                  <td>{{documento.descripcionDocumento}}</td>
              </tr>
              <tr>
                  <th>Archivo</th>
                  <td>{{documento.documento}}</td>
              </tr>
              <tr>
                  <th>Dataset</th>
                  <td>{{documento.idDataset}}</td>
              </tr>
              <tr>
                  <th>Fecha de actualización</th>
                  <td>{% if documento.fechaActualizacion %}{{ documento.fechaActualizacion|date('d-m-Y h:i a') }}{% endif %}</td>
              </tr>
              <tr>
                  <th>Fecha de subida</th>
                  <td>{% if documento.fechaSubida %}{{ documento.fechaSubida|date('d-m-Y h:i a') }}{% endif %}</td>
              </tr>
              <tr>
                  <th>Número de descargas</th>
                  <td>{{documento.numDescargas}}</td>
              </tr>
              <tr>
                  <th>Autor</th>
                  <td>{{documento.idUsuario}}</td>
              </tr>
          </tbody>
      </table>
      <div class="form-group">
          <div class="col-md-12 text-center">
          {% if (is_granted('ROLE_ADMIN') == true or app.user.username == documento.getIdUsuario.getNombre()) %}
              <a href="{{ path('admin_documentos_edit', { 'id': documento.id }) }}" class="btn btn-success">Editar</a>&nbsp;&nbsp;
          {% endif %}
              <a href="{{ path('admin_documentos_index') }}" class="btn btn-default">Regresar al listado</a>
          </div>
    </div>
    <br />
    <br />
    {% if (is_granted('ROLE_ADMIN') == true or app.user.username == documento.getIdUsuario.getNombre()) %}
    <div class="form-group">
        <div class="col-md-12 text-center">
        {{ form_start(delete_form) }}<input type="submit" value="Eliminar" class="btn btn-danger" onclick="return confirm('¿Está seguro que desea eliminar el documento?');">{{ form_end(delete_form) }}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
