{% extends 'base.html.twig' %}
{% block titulo %}TRACODA-Modificar Licencia{% endblock %}
{% block head_css %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('horizont/') }}plugins/bower_components/dropify/dist/css/dropify.min.css">
{% endblock %}
{% block menuadmin %}
    {% include 'TracodaPlantillaBundle::Administracion/menusuperior.html.twig' %}
{% endblock %}
{% block contenido %}

	<div class="contenedor">
				<h1>Editar Licencia</h1>
				<p class="text-muted m-b-30 font-13"> Por favor completa la informacion requerida. </p>
				<div class="form-horizontal">
					{{ form_start(edit_form, {'attr': {'novalidate': 'novalidate'}}) }}

					<div class="form-group row{% if not edit_form.nombre.vars.valid %}has-error{% endif %}">
						<label for="inputEmail3" class="col-sm-3 control-label">Nombre</label>
						<div class="col-sm-6">
							{{ form_widget(edit_form.nombre, { 'attr': {'class': 'form-control'} }) }}
							{{ form_errors(edit_form.nombre) }}
						</div>
					</div>

					<div class="form-group {% if not edit_form.url.vars.valid %}has-error{% endif %}">
						<label for="inputPassword3" class="col-sm-3 control-label">Url</label>
						<div class="col-sm-6">
							{{ form_widget(edit_form.url, { 'attr': {'class': 'form-control'}  }) }}
							{{ form_errors(edit_form.url) }}
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12 text-center">
							<input type="submit" value="Actualizar" class="btn btn-success" />&nbsp;&nbsp;<a href="{{ path('admin_licencias_index') }}" class="btn btn-default">Regresar al listado</a>
						</div>
					</div>
					{{ form_end(edit_form)}}
			</div>
			<div class="form-group">
					<div class="col-md-12 text-center">
						{{ form_start(delete_form) }}
						<input type="submit" value="Eliminar" class="btn btn-danger" onclick="return confirm('¿Está seguro que desea eliminar la licencia?');">
						{{ form_end(delete_form) }}
					</div>
					<br>
			</div>
{% endblock %}
