{% extends 'base.html.twig' %}
{% block titulo %}TRACODA-Nueva Licencia{% endblock %}
{% block head_css %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('horizont/') }}plugins/bower_components/dropify/dist/css/dropify.min.css">
{% endblock %}
{% block menuadmin %}
    {% include 'TracodaPlantillaBundle::Administracion/menusuperior.html.twig' %}
{% endblock %}
{% block contenido %}
<div class="contenedor">
				<h1>Nueva Licencia</h1>
				<p class="text-muted m-b-30 font-13"> Por favor completa la informacion requerida. </p>
				<div class="form-horizontal">
					{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

					<div class="form-group {% if not form.nombre.vars.valid %}has-error{% endif %}">
						<label for="inputEmail3" class="col-sm-3 control-label">Nombre</label>
						<div class="col-sm-6">
							{{ form_widget(form.nombre, { 'attr': {'class': 'form-control'} }) }}
							{{ form_errors(form.nombre) }}
						</div>
					</div>

					<div class="form-group {% if not form.url.vars.valid %}has-error{% endif %}">
						<label for="inputEmail3" class="col-sm-3 control-label">Url</label>
						<div class="col-sm-6">
							{{ form_widget(form.url, { 'attr': {'class': 'form-control'}  }) }}
							{{ form_errors(form.url) }}
						</div>
					</div>

			</div>
					<div class="form-group m-b-0">
						<div class="col-sm-offset-3 col-sm-6">
								<input type="submit" value="Crear" class="btn btn-success" />&nbsp;&nbsp;
								<a href="{{ path('admin_licencias_index') }}" class="btn btn-default">Regresar a la lista</a>
						</div>
					</div>
					{{ form_end(form) }}
			</div>

{% endblock %}
