{% extends 'base.html.twig' %}
{% block titulo %}TRACODA-Detalles de licencia{% endblock %}
{% block head_css %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('horizont/') }}plugins/bower_components/dropify/dist/css/dropify.min.css">
{% endblock %}
{% block menuadmin %}
    {% include 'TracodaPlantillaBundle::Administracion/menusuperior.html.twig' %}
{% endblock %}
{% block contenido %}
<div class="contenedor">
      <h1>Detalles de licencia</h1>
      <table class="table table-responsive table-hover">
          <tbody>
              <tr>
                  <th>Nombre</th>
                  <td>{{ licencia.nombre }}</td>
              </tr>
              <tr>
                  <th>Licencia</th>
                  <td>{{licencia.nombre}}</td>
              </tr>
          </tbody>
      </table>
      <div class="form-group">
          <div class="col-md-12 text-center">
              <a href="{{ path('admin_licencias_edit', { 'idLicencia': licencia.idLicencia }) }}" class="btn btn-success">Editar</a>&nbsp;&nbsp;
              <a href="{{ path('admin_licencias_index') }}" class="btn btn-default">Regresar al listado</a>
          </div>
    </div>
    <br />
    <br />
    <div class="form-group">
        <div class="col-md-12 text-center">
        {{ form_start(delete_form) }}<input type="submit" value="Eliminar" class="btn btn-danger" onclick="return confirm('¿Está seguro que desea eliminar la licencia?');">{{ form_end(delete_form) }}
        </div>
    </div>
</div>
{% endblock %}
